<form class="form {% if inline %}form--inline{% endif %} {% if center %}form--center{% endif %}" data-newsletter>
  <div class="input" data-input>
    <label class="input__label" for="email">Your Email</label>
    <input class="input__field" data-input-field data-email required id="email" type="email" name="EMAIL">
  </div>
  <input class="button button--secondary" data-submit type="submit" value="Sign up">
</form>