/* Global Vars */
:root {
  --small-screen: 480px;
  --medium-screen: 960px;
  --large-screen: 1140px;
  --xlarge-screen: 1440px;

  /* Typography */
  --primary-font: 'Raleway', sans-serif;

  /* Colors */
  --black: #000000;
  --off-black: #424242;
  --white: #fff;
  --gray: #6994a8;
  --gray-light: #bfd1d9;
  --gray-x-light: #e0e2e7;
  --gray-dark: #6b6c6d;
  --blue: #41aeee;
  --blue-light: #43d6f9;
  --blue-dark: #2c94e7;
  --blue-white: #f1f5f8;

  /* Font Colors */
  --base-background-color: var(--blue-white);
  --base-font-color: var(--gray-dark);
  --primary-color: var(--blue-dark);
}
