.banner {
  background: var(--blue);
  color: white;
  opacity: 0.9;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  transform: translateY(-40px);
  width: 100%;
  z-index: 999;
}

.banner--visible {
  transform: translateY(0);
}
