<div class="listing">
  <section class="listing__grid grid" data-listing>
    {% if cards is defined %}
      {% for card in cards %}
        {% include '_components/card/index.twig' with {
          data: card
        } %}
      {% endfor %}
    {% endif %}
  </section>

  <a 
    class="listing__load-more button button--secondary button--large" 
    data-load-more 
    href="#">
    Load more
  </a>
</div>