<div class="listing">
  <section class="listing__grid grid" data-grid {% if pagination is defined %}data-grid-pagination="{{ pagination|json_encode() }}"{% endif %}>
    {% if cards is defined %}
      {% for card in cards %}
        {# build array of tag slugs #}
        {% set tags = [] %}
        {% for tag in card.tags.all() %}
          {% set tags = tags|merge([tag.slug]) %}
        {% endfor %}

        {% include '_components/card/index.twig' with {
          cardData: {
            title: card.title,
            slug: card.slug,
            date: {
              human: card.date|date('M j, Y'),
              machine: card.date|date('Y-M-D')
            },
            originalUrl: card.originalUrl,
            image: card.image.first().getUrl('crawlsTransform'), 
            description: card.description,
            tags: tags
          },
          data: card
        } %}
      {% endfor %}
    {% endif %}
  </section>

  <a 
    class="listing__load-more button button--secondary button--large" 
    data-load-more 
    href="#">
    Load more
  </a>
</div>