.card {
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0px 10px 40px 0px rgba(25, 38, 45, 0.3);
  transform: translateZ(0);
  transition: 0.3s;
}

.card:hover {
  transform: translateZ(0) scale(1.03);
}

.card__img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.card__info {
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  padding: 0 20px;
}

.card__title {
  font-weight: bold;
  width: 100%;
}

.card__title-link {
  color: var(--black);
  display: block;
  padding: 20px 0 24px;
  transition: 0.3s;
}

.card__title-link.is-active,
.card__title-link:hover {
  color: var(--blue-dark);
}
