.button {
  background: ;
  background: linear-gradient(
    135deg,
    var(--blue-light) 0%,
    var(--blue-dark) 100%
  );
  border-radius: 35px;
  color: var(--white);
  display: inline-block;
  font-weight: bold;
  min-width: 230px;
  padding: 25px 50px;
  text-align: center;
  text-transform: uppercase;
}
