.button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: 0.3s;
}

.button--primary {
  background: linear-gradient(
    135deg,
    var(--blue-light) 0%,
    var(--blue-dark) 100%
  );
  border-radius: 35px;
  box-shadow: 0px 21px 49px 0px rgba(6, 74, 152, 0.45);
  color: var(--white);
  min-width: 230px;
  padding: 23px 50px;
}

.button--primary:hover {
  transform: translateZ(0) scale(1.05);
}

.button--secondary {
  background: transparent;
  border: solid 1px var(--gray);
  color: var(--gray);
  padding: 17px 50px 14px;
  transform: translateX(1px);
}

.button--full-width {
  width: 100%;
}

.button--large {
  padding: 25px 60px;
}

.button--secondary:hover {
  background: var(--blue);
  border-color: var(--blue);
  color: var(--white);
}

.is-disabled {
  pointer-events: none;
  opacity: 0.7;
}
