.page__heading {
  color: var(--gray);
  font-size: 22px;
}

.page__heading--italic {
  font-style: italic;
}

.page__heading--margin {
  margin-top: 40px;
}

.page__content {
  margin-top: 40px;

  @media (--medium-screen) {
    max-width: 750px;
  }
}

.page__content p {
  line-height: 1.5;
  margin: 30px 0;
}

.page__content a {
  border-bottom: solid 1px var(--blue);
  color: var(--blue);
  transition: 0.3s;
}

.page__content a:hover {
  border-color: transparent;
}
