<h1 class="layout__sidebar-logo logo">
  <a class="logo__link" href="">
    <img 
      class="logo__img" 
      src="/img/audiocrawl.svg" />
    <span class="logo__title">AudioCrawl</span>
  </a>
</h1>