.logo {
  margin: 0 auto;
  max-width: 145px;
  transform: translateY(-50px);
  transition: 0.3s;
  width: 100%;
}

.logo__link {
  display: block;
}

.logo__svg {
  width: 100%;
  height: 102px;
  pointer-events: none;
}

.logo__line-group {
  opacity: 0;
  transition: 0.75s;
}

.logo:hover .logo__line-group {
  @media (--medium-screen) {
    opacity: 1;
  }
}
