* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--base-background-color);
  color: var(--base-font-color);
  font-family: var(--primary-font);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: 0.3s;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  border: solid 1px transparent;
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  border-color: var(--primary-color);
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}
