<form class="search" data-search>
  <label class="search__label" for="search">
    <img class="search__icon" src="/img/search.svg" />
    Search Audiocrawl:
  </label>
  <input class="search__input" data-search-input id="search" type="search" placeholder="Music video, DJ, Creative, Film, interactive" />
</form>