.search__label {
  align-items: center;
  border-bottom: solid 1px #bfd1d9;
  border-bottom: solid 1px var(--gray-light);
  cursor: pointer;
  display: flex;
  margin-right: 20px;
  padding-bottom: 30px;
  transition: 0.3s;
}

.search__icon {
  margin-right: 30px;
}

.search__title {
  color: var(--gray);
  display: block;
  font-weight: bold;
  min-width: 220px;
  text-transform: uppercase;
}

.search__input {
  -webkit-appearance: textfield;
  background: none;
  border: none;
  color: var(--gray);
  font-style: italic;
  pointer-events: none;
  width: 100%;
}

.search__label.is-active {
  border-bottom-color: var(--blue);
}

.search__label.is-active .search__title {
  color: var(--blue);
}

.search__label.is-active .search__input {
  pointer-events: all;
}
