<div class="modal">
  <div class="modal__container">
    <header>
      <h1 class="modal__title">Halo Waypoint</h1>
      <time class="modal__date" datetime="2018-03-27">March 27, 2018</time>
    </header>
    <div class="modal__content">
      <div class="modal__main">
        <img class="modal__img" src="https://placeimg.com/677/418/any" />
        <div class="modal__body">
          <p>
            Lorem Khaled Ipsum is a major key to success. To be successful you’ve 
            got to work hard, to make history, simple, you’ve got to make it.
          </p>
        </div>
      </div>
      <aside class="modal__sidebar">
        <ul class="modal__list">
          <li class="modal__item">
            <a class="modal__link" href="#">
              <svg class="modal__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="14" height="14">
                <g class="nc-icon-wrapper">
                  <path d="M6.245.965,4.727,2.446A.75.75,0,0,0,5.773,3.521L7.3,2.033A1.875,1.875,0,1,1,9.944,4.691L8.463,6.21A.75.75,0,1,0,9.537,7.257l1.475-1.512a3.381,3.381,0,0,0,0-4.773A3.462,3.462,0,0,0,6.245.965Z" /> 
                  <path d="M6.227,8.446,4.7,9.935A1.875,1.875,0,1,1,2.056,7.276L3.537,5.757A.75.75,0,0,0,2.463,4.71L.988,6.222A3.375,3.375,0,0,0,5.755,11L7.273,9.521A.75.75,0,0,0,6.227,8.446Z" /> 
                  <path d="M3.47,8.514a.748.748,0,0,0,1.06,0l4-4A.75.75,0,1,0,7.47,3.453l-4,4A.75.75,0,0,0,3.47,8.514Z" />
                </g>
              </svg>
              Halo5.com
            </a>
          </li>
          <li class="modal__item">
            <a class="modal__link" href="#">
              <svg class="modal__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="14" height="14">
                <path d="M10,10H2V2H4V0H1A1,1,0,0,0,0,1V11a1,1,0,0,0,1,1H11a1,1,0,0,0,1-1V7H10Z" /> 
                <path d="M8,2C5.688,2,3,3.23,3,7,4.142,5.152,6.168,5,8,5V7l4-3.5L8,0Z" /></g>
              </svg>
              Share
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</div>