.modal {
  align-items: center;
  background: rgba(242, 245, 248, 0.8);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 40px;
  position: absolute;
  top: 0;
  transition: 0.3s;
  width: 100vw;
}

.modal__container {
  background: var(--white);
  box-shadow: 0px 39px 64px 0px rgba(25, 38, 45, 0.22);
  display: none;
  margin: 0 auto;
  max-width: 1180px;
  opacity: 0;
  padding: 50px 70px;
  position: relative;
  transition: 0.3s;
  width: 100%;
  z-index: 2;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
}

.modal__close-icon {
  fill: var(--gray-light);
  transition: 0.3s;
}

.modal__close:hover .modal__close-icon {
  fill: var(--blue);
  transform: scale(1.05);
}

.modal__content {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 2fr 1fr;
}

.modal__title {
  color: var(--black);
  font-size: 30px;
  margin-bottom: 10px;
}

.modal__date {
  display: block;
  margin-bottom: 30px;
}

.modal__body {
  line-height: 1.7;
  margin-top: 30px;
  padding-right: 40px;
}

.modal__subtitle {
  color: var(--off-black);
  font-size: 18px;
  margin-bottom: 10px;
}

.modal__link {
  align-items: center;
  border-bottom: solid 1px var(--gray-light);
  color: var(--gray-dark);
  display: flex;
  font-weight: bold;
  padding: 20px 0;
  transition: 0.3s;
}

.modal__icon {
  fill: var(--gray-dark);
  margin-right: 15px;
}

.modal__link:hover {
  color: var(--blue);
}

.modal__link:hover .modal__icon {
  fill: var(--blue);
}
