.card-tools {
  display: flex;
}

.card-tools__item {
  margin-left: 13px;
}

.card-tools__item:first-child {
  margin-left: 0;
}

.card-tools__icon {
  fill: var(--gray);
  height: 15px;
  transition: 0.3s;
  width: 15px;
}

.card-tools__link:hover .card-tools__icon {
  fill: var(--blue-dark);
}
