{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}
  <div class="page">
    <h1 class="page__heading page__heading--margin">
      404 - Oops page not found, please try searching
    </h1>
  </div>
{% endblock %}