{% extends '_layout' %}

{% block content %}
  <div class="page">
    <h1 class="page__heading">About AudioCrawl</h1>

    <div class="page__content">
      <p>AudioCrawl was born out of the passion for creative technology instilled 
      in Digital Surgeons, fueled by CEO Pete Sena, fused with the musical and 
      audio engineering background of Adam Chambers, Head of Technology. The pairs 
      passion for creative technology, music, and immersive digital experiences 
      pushed them to create a repository showcasing best-in-class WebAudio 
      from around the web.</p>

      <p>If you’re interested in learning more about <a href="https://www.digitalsurgeons.com/">Digital Surgeons</a> 
      and their creative skills then <a href="https://www.digitalsurgeons.com/contact/">reach out</a>, 
      they’d love to geek out.</p>
    </div>
  </div>
{% endblock %}