{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  <section class="grid">
    {% for i in 0..12 %}
      <article class="grid__item card">
        <a class="card__link" href="">
          <img class="card__img" src="https://placeimg.com/430/300/any" />
          <div class="card__info">
            <h3 class="card__title">Hello world</h3>
          </div>
        </a>
      </article>
    {% endfor %}
  </section>
{% endblock %}