{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  <section class="grid">
    {% for i in 0..11 %}
      <article class="grid__item card">
        <a href="#" data-card-image><img class="card__img" src="https://placeimg.com/430/300/any" /></a>
        <div class="card__info">
          <h3 class="card__title">
            <a class="card__title-link" data-card-title href="#">
              Hello world
            </a>
          </h3>
          <ul class="card-tools">
            <li class="card-tools__item">
              <a class="card-tools__link" href="#">
                <svg class="card-tools__icon" width="17px" height="14px" viewBox="0 0 17 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g class="card-tools__path" stroke="none" stroke-width="1" fill-rule="evenodd">>
                    <path d="M14.3147144,1.11511967 C13.6801591,0.42882317 12.7732625,0 11.7692308,0 C9.8446853,0 8.2828078,1.58251898 8.2828078,3.53420268 C8.2828078,3.81141264 8.3127653,4.08009996 8.3726804,4.33891897 C5.4740608,4.1913428 2.9045203,2.78600493 1.1833231,0.645029 C0.8828398,1.16894685 0.7112648,1.77674538 0.7112648,2.42401717 C0.7112648,3.64948255 1.3267562,4.7314088 2.2631565,5.3652238 C1.6921475,5.34817853 1.1533656,5.18759412 0.682215,4.92473807 L0.682215,4.96779981 C0.682215,6.6808497 1.884602,8.10996123 3.4814301,8.43337285 C3.189117,8.51635641 2.8804635,8.55807247 2.5622781,8.55807247 C2.3375965,8.55807247 2.1183617,8.5365416 1.9059354,8.4952741 C2.3498518,9.8988177 3.6371185,10.9210855 5.1635917,10.9484477 C3.9702828,11.8967031 2.4655969,12.4618884 0.8320028,12.4618884 C0.5505834,12.4618884 0.2723413,12.4457403 0,12.413444 C1.5432676,13.4146295 3.3774864,14 5.3465143,14 C11.7624222,14 15.2697247,8.61548813 15.2697247,3.9446349 C15.2697247,3.79077889 15.2670013,3.63737144 15.2611006,3.48665535 C15.9424078,2.98830541 16.5342963,2.36615296 17,1.65742847 C16.3754305,1.93822691 15.7027474,2.12841626 14.9973834,2.21364263 C15.7177262,1.77674538 16.2705791,1.08416904 16.531119,0.25881901 C15.8566203,0.66341995 15.1113128,0.95767518 14.3147144,1.11511967 Z" id="Twitter"></path>
                  </g>
                </svg>
              </a>
            </li>
            <li class="card-tools__item">
              <a class="card-tools__link" href="#">
                <svg class="card-tools__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="14" height="14">
                  <g class="nc-icon-wrapper">
                    <path d="M6.245.965,4.727,2.446A.75.75,0,0,0,5.773,3.521L7.3,2.033A1.875,1.875,0,1,1,9.944,4.691L8.463,6.21A.75.75,0,1,0,9.537,7.257l1.475-1.512a3.381,3.381,0,0,0,0-4.773A3.462,3.462,0,0,0,6.245.965Z" /> 
                    <path d="M6.227,8.446,4.7,9.935A1.875,1.875,0,1,1,2.056,7.276L3.537,5.757A.75.75,0,0,0,2.463,4.71L.988,6.222A3.375,3.375,0,0,0,5.755,11L7.273,9.521A.75.75,0,0,0,6.227,8.446Z" /> 
                    <path d="M3.47,8.514a.748.748,0,0,0,1.06,0l4-4A.75.75,0,1,0,7.47,3.453l-4,4A.75.75,0,0,0,3.47,8.514Z" />
                  </g>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>
    {% endfor %}
  </section>
{% endblock %}