{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  <section class="grid">
    {% for i in 0..11 %}
      {% include '_components/card/index.twig' %}
    {% endfor %}
  </section>
{% endblock %}