{% extends '_layout' %}

{% block content %}
  <div class="page">
    <h1 class="page__heading">Newsletter</h1>

    <div class="page__content">
      <p>
        Sign up for the AudioCrawl newsletter and receive our round-up of the 
        best in WebAudio straight to your inbox once a month. Only 
        best-in-class WebAudio, we don't spam!
      </p>
    </div>

    <div class="page__content">
      {% include '_components/newsletter/index.twig' %}
    </div>
  </div>
{% endblock %}