{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  {% set crawls = craft.entries.section('crawls')
    .search(craft.request.getQuery('q'))
    .all()
  %}

  {% if crawls|length > 0 %}
    <h2>Searching for '{{ craft.request.getQuery('q') }}'</h2>
    {% include '_components/grid/index.twig' with {
      cards: crawls 
    } %}
  {% else %}
    <h2>No results</h2>
  {% endif %}
{% endblock %}