{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  {% set crawls = craft.entries.section('crawls')
    .search(craft.request.getQuery('q'))
    .all()
  %}

  <div class="page">
    {% if crawls|length > 0 %}
      <h1 class="page__heading page__heading--margin">
        Searching for <span class="page__heading--italic">"{{craft.request.getQuery('q')}}"</span>
      </h1>
      {% include '_components/grid/index.twig' with {
        cards: crawls 
      } %}
    {% else %}
      <div class="page__content">
        <h1 class="page__heading page__heading--margin">
          <span class="page__heading--italic">No results found</span> 😞
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}