{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  {% set tag = craft.tags.search(craft.request.lastSegment).first() %}

  <div class="page">
    {% if tag %}
      <h1 class="page__heading page__heading--margin">
        Crawls tagged "{{tag}}"
      </h1>
      {% include '_components/grid/index.twig' with {
        cards: craft.entries.section('crawls').relatedTo(tag)
      } %}
    {% else %}
      <div class="page__content">
        <h2>No results</h2>
      </div>
    {% endif %}
  </div>
{% endblock %}