{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  {% set tag = craft.tags.search(craft.request.lastSegment).first() %}

  {% if tag %}
    {% include '_components/page-header/index.twig' with {
      title: 'Crawls tagged "' ~ tag ~ '"'
    } %}
    {% include '_components/grid/index.twig' with {
      cards: craft.entries.section('crawls').relatedTo(tag)
    } %}
  {% else %}
    <h2>No results</h2>
  {% endif %}
{% endblock %}