{% extends '_layout' %}

{% block content %}
  {% include '_components/search/index.twig' %}

  {% set tag = craft.tags.search(craft.app.request.segments|last).one() %}

  <div class="page">
    {% if tag %}
      <h1 class="page__heading page__heading--margin">
        Crawls tagged <span class="page__heading--italic">"{{ tag }}"</span>
      </h1>
      {% include '_components/grid/index.twig' with {
        cards: craft.entries.section('crawls').relatedTo(tag).limit(18),
        pagination: {
          tag: tag.slug
        }
      } %}
    {% else %}
      <div class="page__content">
        <h1 class="page__heading page__heading--margin">
          <span class="page__heading--italic">No results found</span> 😞
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}