.nav__list {
  margin-bottom: 40px;
}

.nav__link {
  border-bottom: solid 1px var(--gray-x-light);
  color: var(--gray);
  display: block;
  font-weight: bold;
  padding: 25px 0;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav__icon {
  fill: #6994a8;
  margin-right: 5px;
}

.nav__link:hover,
.nav__link.is-active {
  color: var(--blue);
}

.nav__link:hover .nav__icon,
.nav__link.is-active .nav__icon {
  fill: var(--blue);
}
